header h4 {
	margin: 0;
	margin-bottom: 0.5em;
}

main {
	position: relative;
}


header {
	margin-bottom: 1.5em;
}




#tableHeader > h3 {
	margin: 0;
	margin-bottom: 0.5em;
}
#tableHeader > div {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.2em;
}
#tableHeader .name {
	flex-grow: 1;
	padding-left: 1em;
}
#tableHeader .date {
	width: 10em;
	text-align: center;
}
#tableHeader .itemCount {
	padding-right: 0.2em;
}




.venue {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 1em;
	margin-top: -1px;
	background-color: #fcfcfc;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}
.venue .buttons {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	padding: 2px;
	box-sizing: border-box;
}
.venue .buttons > .button {
	display: block;
	height: 50%;
	padding: 1px;
	box-sizing: border-box;
	
	cursor: pointer;
	opacity: 0.1;
}
.venue .buttons > .button:hover {
	opacity: 1;
}
.venue .name {
	flex-grow: 1;
	padding-right: 0.5em;
	margin-left: 0.8em;
}
.venue .date {
	margin-right: 0.5em;
}
.venue .time {
	margin-right: 1.2em;
}
.venue .itemCount {
	display: inline-block;
	width: 2em;
	text-align: right;
}




#itemEditor:not(.visible) {
	display: none !important;
}
#itemEditor {
	margin-left: 1px;
	margin-right: 1px;
	padding: 1em;
	box-sizing: border-box;
	box-shadow: inset 0 4px 4px -4px #bbb;
	background-color: #f7f7f7;

	border: solid 1px #f0f0f0;
	border-bottom-color: #e5e5e5;
	border-top-width: 0;
}
#itemEditor:last-child {
	border-bottom-width: 1px;
	border-bottom-color: #e5e5e5;
}
#itemEditor .venueName {
	display: none;
}
#newItemForm {
	margin-bottom: 0.8em;
}
#itemPrice {
	width: 5em;
	margin-right: 0.2em;
	text-align: right;
}
#newItemSubmit {
	margin-left: 0.5em;
}

#itemTable {
	border-collapse: collapse;
}
#itemTable thead tr {
	border-bottom: solid 2px #777;
}
#itemTable td {
	border-right: solid 1px #ccc;
}
#itemTable td.button,
#itemTable td:last-of-type {
	border-right: none;
}
#itemTable th {
	padding: 0.2em 0.5em;
}
#itemTable td {
	padding: 0.3em 0.5em;
}
#itemTable th.button,
#itemTable td.button {
	padding: 0;
}
#itemTable td.button img {
	height: 1.5em;
	padding-top: 1px;
	padding-bottom: 1px;
	box-sizing: border-box;
	vertical-align: middle;
	cursor: pointer;
	opacity: 0.1;
}
#itemTable td.button img:hover {
	opacity: 1;
}


@media only screen and (min-width: 865px) {
	#tableHeader {
		width: 500px;
	}
	.venue {
		width: 500px;
		box-sizing: border-box;
	}


	#itemEditor {
		position: absolute;
		left: 500px;
		top: 0;
		margin: 0;
		margin-left: -1px;
		padding-top: 0.7em;
		background-color: white;
		box-shadow: none;
		border-color: #e5e5e5;
		border-top-width: 1px;
		border-bottom-width: 1px;
	}
	#itemEditor .venueName {
		display: block;
		margin: 0;
		margin-bottom: 0.4em;
	}
}
