body {
	margin: 8px;
}

#siteLinks {
	margin-bottom: 0.8em;
}
#siteLinks a {
	margin-right: 0.6em;
}

header h4 {
	margin: 0;
	margin-bottom: 0.5em;
}

main {
	position: relative;
}


header {
	margin-bottom: 1.5em;
}




#tableHeader > h3 {
	margin: 0;
	margin-bottom: 0.5em;
}
#tableHeader > div {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.2em;
}
#tableHeader .name {
	flex-grow: 1;
	padding-left: 1em;
}
#tableHeader .date {
	width: 10em;
	text-align: center;
}
#tableHeader .itemCount {
	padding-right: 0.2em;
}




.id {
	margin-left: 0.5em;
	color: #999;
	font-weight: normal;
	font-size: 90%;
}
.id:before {
	content: "(id: ";
}
.id:after {
	content: ")";
}


.venue {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 1em;
	margin-top: -1px;
	background-color: #fcfcfc;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}
.venue .buttons {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	padding: 2px;
	box-sizing: border-box;
}
.venue .buttons > .button {
	display: block;
	height: 50%;
	padding: 1px;
	box-sizing: border-box;
	
	cursor: pointer;
	opacity: 0.1;
}
.venue .buttons > .button:hover {
	opacity: 1;
}
.venue .name {
	margin-left: 0.8em;
}
.venue .id {
	flex-grow: 1;
	padding-right: 0.5em;
}
.venue .date {
	margin-right: 0.5em;
}
.venue .time {
	margin-right: 1.2em;
}
.venue .itemCount {
	display: inline-block;
	width: 2em;
	text-align: right;
}


.venue .buttons.edit button,
#itemContainer .item-category.edit .header button,
#itemContainer .item-category .item-table .item.edit button {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background: none;
}
.venue.edit :not(input).name,
.venue.edit :not(input).date,
.venue.edit :not(input).time,
.venue.edit .buttons:not(.edit) {
	display: none;
}
.venue input.date {
	margin-right: 0;
}




#itemEditor:not(.visible) {
	display: none !important;
}
#itemEditor {
	margin-left: 1px;
	margin-right: 1px;
	padding: 1em;
	box-sizing: border-box;
	box-shadow: inset 0 4px 4px -4px #bbb;
	background-color: #f7f7f7;

	border: solid 1px #f0f0f0;
	border-bottom-color: #e5e5e5;
	border-top-width: 0;
}
#itemEditor:last-child {
	border-bottom-width: 1px;
	border-bottom-color: #e5e5e5;
}
#itemEditor .venueName {
	display: none;
}
#itemEditor .css-editor {
	margin-bottom: 1em;
}
#itemEditor .css-editor h5 {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}
#itemEditor .css-editor button {
	display: inline-block;
	margin-left: 0.5em;
	cursor: pointer;
}
#itemEditor .css-editor textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
#newItemForm {
	margin-bottom: 0.8em;
}
#newItemPrice {
	width: 5em;
	margin-right: 0.2em;
	text-align: right;
}
#newItemSubmit {
	margin-left: 0.5em;
}



#itemContainer .item-category {
	margin-bottom: 1.7em;
}
#itemContainer .item-category .header {
	margin-bottom: 0.2em;
}
#newItemCategoryForm:after,
#itemContainer .item-category .header:after {
	content: "";
	display: block;
	width: 75%;
	height: 0;
	border-bottom: 1px solid #ddd;
}
#newItemCategoryForm:after {
	margin-top: 0.4em;
}

#itemContainer .item-category .category-name {
	display: inline-block;
	margin: 0;
	margin-right: 0.3em;
}

#itemContainer .item-category .header img {
	height: 1.4em;
	padding-top: 1px;
	padding-bottom: 1px;
	box-sizing: border-box;
	vertical-align: bottom;
	cursor: pointer;
	opacity: 0.1;
}
#itemContainer .item-category .header img:hover {
	opacity: 1;
}


#itemContainer .item-category.edit .header form,
#itemContainer .item-category.edit .header .button:not(.edit),
#itemContainer .item-category.edit .header .category-name:not(input) {
	display: none;
}
#itemContainer .item-category.edit .header .button {
	vertical-align: middle;
}





#itemContainer .item-category .item-table {
	border-collapse: collapse;
}
#itemContainer .item-category .item-table thead tr {
	border-bottom: solid 2px #777;
}
#itemContainer .item-category .item-table td {
	border-right: solid 1px #ccc;
}
#itemContainer .item-category .item-table td.button,
#itemContainer .item-category .item-table td:last-of-type {
	border-right: none;
}
#itemContainer .item-category .item-table th {
	padding: 0.2em 0.5em;
}
#itemContainer .item-category .item-table td {
	padding: 0.3em 0.5em;
}
#itemContainer .item-category .item-table th.button,
#itemContainer .item-category .item-table td.button {
	padding: 0;
}
#itemContainer .item-category .item-table td.button img {
	height: 1.5em;
	padding-top: 1px;
	padding-bottom: 1px;
	box-sizing: border-box;
	vertical-align: middle;
	cursor: pointer;
	opacity: 0.1;
}
#itemContainer .item-category .item-table td.button img:hover {
	opacity: 1;
}
#itemContainer .item-category .item-table td.price {
	text-align: right;
}


#itemContainer .item-category .item-table .item.edit .button:not(.edit),
#itemContainer .item-category .item-table .item.edit form,
#itemContainer .item-category .item-table .item.edit .name:not(.edit),
#itemContainer .item-category .item-table .item.edit .price:not(.edit) {
	display: none;
}

#itemContainer .item-category .item-table .item.edit .price.edit:after {
	content: "€";
}
#itemContainer .item-category .item-table .item.edit .price.edit input {
	width: 5em;
	margin-right: 0.2em;
	text-align: right;
}


@media only screen and (min-width: 865px) {
	#tableHeader {
		width: 500px;
	}
	.venue {
		width: 500px;
		box-sizing: border-box;
	}


	#itemEditor {
		position: absolute;
		left: 500px;
		top: 0;
		margin: 0;
		margin-left: -1px;
		padding-top: 0.7em;
		background-color: white;
		box-shadow: none;
		border-color: #e5e5e5;
		border-top-width: 1px;
		border-bottom-width: 1px;
	}
	#itemEditor .venueName {
		display: block;
		margin: 0;
		margin-bottom: 0.4em;
	}
}




/* dark mode */

.dark-mode .id {
	color: #777;
}

.dark-mode .venue {
	background-color: #23262A;
	border-color: #36393e;
}
.dark-mode .venue .buttons > .button {
	filter: invert(1);
}

.dark-mode #itemEditor {
	box-shadow: inset 0 4px 4px -4px #181818;
	background-color: #282b30;
	border-color: #34373e;
	border-bottom-color: #36393e;
}

.dark-mode #newItemCategoryForm:after,
.dark-mode #itemContainer .item-category .header:after {
	border-color: #545964;
}

.dark-mode #itemContainer .item-category .item-table thead tr {
	border-color: #777;
}
.dark-mode #itemContainer .item-category .item-table td {
	border-color: #545964;
}

.dark-mode #itemContainer .item-category .header img,
.dark-mode #itemContainer .item-category .item-table td.button img,
.dark-mode ::-webkit-calendar-picker-indicator,
.dark-mode ::-webkit-outer-spin-button,
.dark-mode ::-webkit-inner-spin-button {
	filter: invert(1);
}


@media only screen and (min-width: 865px) {
	.dark-mode #itemEditor {
		background-color: var(--black);
		border-color: #36393e;
	}
}
