#openOrders {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 1.5em;
	padding-top: 1em;
	padding-left: 1em;
}


#openOrders .order {
	position: relative;
	padding: 0.5em 1em;
	background-color: #fafafa;
	border: 1px solid #f0f0f0;
	border-radius: 0.5em;
}
#openOrders .order.prepared:before {
	content: "abholbereit";
	display: block;
	position: absolute;
	bottom: 100%;
	font-size: 70%;
	color: #333;

}
#openOrders .order.pickedup {
	display: none;
}
#openOrders .order.canceled {
	opacity: 0.4;
}
#openOrders .order.canceled:after {
	content: "abgebrochen";
	position: absolute;
	right: 1.4em;
	bottom: 0.5em;
	font-size: 80%;
	color: #888;
}
#openOrders .order.canceled .items,
#openOrders .order.canceled .price {
	text-decoration: line-through;
}

#openOrders .order .order-number {
	position: absolute;
	left: -0.8em;
	top: -0.8em;
	width: 1.6em;
	height: 1.6em;
	background-color: hsla(30, 100%, 60%, 10%);
	border: 1px solid hsl(30, 100%, 60%);
	border-radius: 50%;
	line-height: 1.6em;
	text-align: center;
	color: hsl(30, 100%, 25%);
}
#openOrders .order.prepared .order-number {
	background-color: hsla(100, 65%, 60%, 10%);
	border: 1px solid hsl(100, 65%, 60%);
	color: hsl(100, 65%, 25%);
}
#openOrders .order .date,
#openOrders .order .time {
	display: inline-block;
	margin-bottom: 0.3em;
	font-size: 80%;
	color: #888;
}
#openOrders .order .date:empty,
#openOrders .order .time:empty {
	display: none;
}
#openOrders .order .time {
	margin-left: 0.5em;
}

#openOrders .order .items {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}
#openOrders .order .items .item {
	padding: 0.2em 0.5em;
	border-radius: 0.2em;
	background-color: #e0e0e0;
}

#openOrders .order .price {
	display: inline-block;
	margin-left: 0.3em;
	margin-top: 0.5em;
	padding-top: 0.1em;
	border-top: solid 1px black;
}
#openOrders .order .price:after {
	content: " €";
}

#openOrders .order input {
	margin-left: 0.7em;
	cursor: pointer;
}
#openOrders .order.canceled input.pickedup,
#openOrders .order.canceled input.prepared,
#openOrders .order:not(.prepared) input.pickedup,
#openOrders .order.prepared input.prepared {
	display: none;
}



#openOrders .order .cancel-button {
	position: absolute;
	right: -0.5em;
	top: -0.5em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	font-size: 1.4em;
	line-height: 0.9em;
	text-align: center;
	cursor: pointer;
}
#openOrders .order .cancel-button:before {
	content: "⨯";
	color: #ac1a1a;
}
#openOrders .order .cancel-button:hover {
	background-color: #fafafa;
	box-shadow: 0 0 3px #aaa;
}


@media screen and (min-width: 700px) {
	#openOrder {
		padding: 0;
	}
}
