#ItemList {
	display: flex;
	flex-wrap: wrap;
	padding: 0 1em;
	margin-top: 0.7em;
	margin-bottom: 1em;
	gap: 2em;
}

#ItemList .item-category.hidden {
	display: none;
}
#ItemList h4.name {
	margin: 0;
}
#ItemList .item-table .count {
	text-align: right;
}
#ItemList .item-table .count:after {
	content: "⨯";
}
